.header
   .container
      .header__body
         .header__column
            a.heared__logo(href="")
               img(src="../assets/img/header/1.svg" alt="Logo") 
         .header__column.menu-header
            nav.menu-header__menu
               .menu-header__button
                  a(href="") Войти
               .menu-header__icon   
                  a(href="")
                     img(src="../assets/img/header/2.png" alt="basket")
      
