/*$minwidth:320px;
$mw:1170;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
*/

/**************/
.wraper{
	width: 100%;
   min-height: 100%;
   overflow: hidden;
   padding: 0;
   margin: 0; 
}
/*
.container{ max-width:$mw+px;margin: 0 auto;width: 100%;
   @media (max-width:$md1+px){max-width: 970px;}
   @media (max-width:$md2+px){max-width: 750px;}
   @media (max-width:$md3+px){max-width: none;padding:0 10px;}
}*/
.container{
	box-sizing: border-box;
	max-width:1100px;
	margin: 0 auto;
	width: 100%
	padding:0 450px;
}
/**************HEADER*****************/
header{
	background:#007765;
	/*position: absolute;*/
	background-size: cover;
   background-position: center center;
}
.header{
	display: flex;
	padding:0;
	margin:0 auto;
	align-items: center;
	justify-content: space-between;
}
.logo{
	display: flex;
	/*margin: 0px 0px 0px 40px;*/
	padding: 20px 0 20px 10px;
}
.logo__text{
	width: 175px;
   height: 45px;
	background-image: url("img/logo/logo.svg");
	background-repeat: no-repeat;
}

.menu-heder{
	
}

.menu-heder__list{
	display: flex;
	list-style: none;

}

.menu-heder__link{
	display: flex;
}
a{
	display:block;
	text-decoration: none;
}
span{
	padding-left:8px;
}
/*************************************/
.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url('img/hero/Hero.png');
  background-size: cover;
  background-position: center center;
}

.hero__message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}
/*************************************/
.jumbotron{
	width:100%;
	display: flex;
	text-align: center;
	justify-content: center;
	background-image:url('img/here/imagehere.png');
	background-repeat: no-repeat;
}

.jumbotron-main{
	margin: 160px 0px;
	font-family: Roboto, sans-serif;
	font-size: 72px;
	color: #fff;
}

/*************************************/
.h2{
	display:flex;
	text-align:center;
	justify-content: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	color: #007765;
	margin:48px 0px 0px 0px;
}
p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 37px;
	color: #000000;
}

/*****************************************/

.ppc__header{
	display: flex;
	padding:0;
	margin:0 auto;
	align-items: center;
	justify-content: space-between;
}
.ppc__logo{
	margin-right:48px ;
}
/******************************/
.team-main__row1{
	display: flex;
	padding:0;
	margin-top:58px;
	flex-direction:row;
	align-items: center;
	justify-content:space-between;
}
.foto{
	margin-bottom: 12px;
}
.name{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #007765;
	margin:0 auto;
	text-align:center;
}
.job{
	font-family: Roboto;
	font-style: italic;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #000000
	margin:0 auto;
	text-align:center;
}
