include ../utils/mixins
block variables
        //- include ../includes/modules/header
        //- include ../includes/modules/footer

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='Content-type' content='text/html; charset=UTF-8')
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    title #{title}
    meta(name="description", content=description)
    block head

  body
    .wrapper
      include ../includes/modules/header
      .search
        .container
          input(class="search__input" type=search  placeholder="Введите текст для поиска")
          h2.search__h2 Рестораны в Москве
      .box-card
        .container
          .cards
            +card('../assets/img/card/1.png','Макдоналдс — Газетный','₽₽ • Бургеры','25 - 35 мин')
            +card('../assets/img/card/2.png','DimSum & Co — ЦДМ','₽ • Японская • Китайская • Азиатская','40 - 50 мин')
            +card('../assets/img/card/3.png','ДвижОК — Манежная','₽₽ • ₽ • Американская • Европейская','35 - 45 мин')
            +card('../assets/img/card/4.png','НЯ — NHA','₽₽ • Вьетнамская','30 - 40 мин')
            +card('../assets/img/card/5.png','Точка Дзы — Цветной','₽₽ • Вьетнамская','40 - 50 мин')
            +card('../assets/img/card/6.png','Cinnabon','₽ • Выпечка • Десерты • Капкейки','25 - 35 мин')
            +card('../assets/img/card/7.png','PIZZELOVE','₽₽ • Пицца','15 - 25 мин')
            +card('../assets/img/card/8.png','Zю кафе — Тверская','₽₽ • Японская','25 - 35 мин')
            +card('../assets/img/card/9.png','Bar BQ Cafe — Манежная','₽₽₽ • Европейская','30 - 40 мин')
                    
      include ../includes/modules/footer

      
      
      
        //- include ../includes/modules/foote
    block script